h5 {
    text-align: left;
}

h6 {
    text-align: left;
}


h1 {
    text-align: center;
}

body {
    background: linear-gradient(-45deg, #DA70D6, 	#9932CC, #A020F0) no-repeat;
    background-size: 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% 
}

background-position: 0% 50%;{
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

p{
    text-align: left;
}
  

